
.observer-status {
  float: right;
  white-space: nowrap;
  margin-right: 10px;
}

.selected {
  margin-left: 5px;
  margin-top: 2px;
  background-color: blue;
}

.achieved {
  margin-left: 5px;
  margin-top: 2px;
  background-color: green;
}