<div class="observer-status">
    <div *ngIf="!achieved && !running && selected">
        Ready
        <span class="circle blink selected"></span>
    </div>
    <div *ngIf="achieved && !running">
        Ready
        <span class="circle blink selected"></span>
    </div>
    <div *ngIf="!achieved && running">
        Active
        <span class="circle blink running"></span>
    </div>
    <div *ngIf="running && achieved">
        Passed
        <span class="circle achieved"></span>
    </div>
</div>