<div class="observer-tabs">
    <ul class="tabs">
        <li class="tablink" (click)="selectedTab = 'dragRace'" [class.active]="selectedTab === 'dragRace'">Drag race</li>
        <li class="tablink" (click)="selectedTab = 'trackRace'" [class.active]="selectedTab === 'trackRace'">Track race</li>
    </ul>

    <div class="tab" [ngSwitch]="selectedTab">
        <div class="start_race">
            <button *ngIf="!started" (click)="startRace()" class="start">Start</button>
            <button *ngIf="started" (click)="stopRace()" class="stop">Stop</button>
        </div>
        <drag-race *ngSwitchCase="'dragRace'" [toggle]="started"></drag-race>
    </div>
    <observers-state-messages></observers-state-messages>
</div>