<ng-container *ngFor="let observer of _group?.observers">
    <traffic-light *ngIf="observer.type === 'traffic_light'" [roiColor]="'#FFFA08'" [running]="running" [observer]="observer" (onChange)="updateObserver($event)"></traffic-light>
    <lane-detection *ngIf="observer.type === 'lane_detection'" [roiColor]="'#2DFF07'" [running]="running" [observer]="observer" (onChange)="updateObserver($event)"></lane-detection>
    <finish-detection *ngIf="observer.type === 'finish_detection'" [roiColor]="'#0D80FF'" [running]="running" [observer]="observer" (onChange)="updateObserver($event)"></finish-detection>
</ng-container>
