/* this file will be extracted to main dist folder and is imported in index.html */
/* This file is for setting global styles  */
@import 'variables';

body {
  margin: 0;
  padding: 0;
}

main {
}


//router-outlet {
//}
//
//preview-with-rois {
//  float: left;
//}

ul {
  padding: 0;
  margin: 0;
}

footer {
  float: left;
}

.race_step {

  ul {
    list-style-type: none;
  }
}

.circle {
  width: 13px;
  height: 13px;
  border-radius: 20px;
  position: absolute;
}

.blink {
  -webkit-animation: blinking 1s infinite;  /* Safari 4+ */
  -moz-animation: blinking 1s infinite;  /* Fx 5+ */
  -o-animation: blinking 1s infinite;  /* Opera 12+ */
  animation: blinking 1s infinite;  /* IE 10+, Fx 29+ */
}

@-webkit-keyframes blinking {
  0%, 49% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0.5;
  }
}